[BASIC]
extension-pkg-whitelist=pydantic

[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
# extension-pkg-whitelist=

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=80

[MESSAGE CONTROL]
# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable = too-few-public-methods,
          no-name-in-module,
          abstract-class-instantiated,

[DESIGN]
# Maximum number of parents for a class (see R0901).
max-parents=10

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=4

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX,TODO

[TYPECHECK]
# List of decorators that produce context managers, such as
# contextlib.contextmanager. Add to this list to register other decorators that
# produce valid context managers.
contextmanager-decorators=contextlib.contextmanager
